.wrap {
    width: calc(100% - 70px);
    height: calc(100% - 20px);
    margin: 10px;
    overflow: auto;
}

.emoji {
    width: 32px;
    height: 32px;
    padding: 5px;
    float: left;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms background-color;
}

.emoji:hover {
    background-color: #2F343D;
}
