.wrap {
    width: auto;
    height: fit-content;
    margin: 0 5px 5px 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #131314;
    border-radius: 10px;
    overflow: hidden;
}
