.wrap {
    width: 100%;
    height: auto;
    display: flex;
}

.lines {
    width: 20px;
    height: 20px;
    margin: 12px 10px 10px 19px;
    border: 2px solid #555555;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 10px;
}

.right {
    width: auto;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #4A191A;
}

.reMessageAuthorName {
    font-size: 13px;
    font-weight: 600;
    color: #AAAAAA;
}

.reMessageText {
    max-width: 200px;
    margin: 0 0 0 5px;
    font-size: 12px;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #AAAAAA;
}

.reMessageText:empty {
    display: none;
}
